<div class="p-10 container-h bg-header mb-5">
    <button mat-icon-button color="primary"><mat-icon>menu</mat-icon></button>
    <button mat-stroked-button color="primary">Crear Bot</button>
    <button mat-icon-button color="primary"><mat-icon>exit_to_app</mat-icon></button>
</div>

<div class="p-10">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let b of bots">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div mat-card-avatar class="container-h">
                        <img [src]="'assets/svg/icon/'+b.short_symbol+'.svg'" [alt]="b.short_symbol">
                    </div>
                    <div class="container-v pl-5">
                        <p class="bot-symbol fs-14 fw-500 m-0">{{b.symbol}}</p>
                        <p class="bot-status fs-12 m-0">{{b.status}}</p>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div><!-- {{b | json}} -->
                <div class="container-v">
                    <div class="container-actions mt-5 mb-5 p-5">
                        <p class="fs-12 m-0 pointer"><mat-icon>play_arrow</mat-icon></p>
                        <p class="fs-12 m-0 pointer"><mat-icon>pause</mat-icon></p>
                        <p class="fs-12 m-0 pointer"><mat-icon class="red">delete</mat-icon></p>
                        <p class="fs-12 m-0 pointer"><mat-icon>edit</mat-icon></p>
                    </div>
                </div>
                <div class="container-v container-v p-5 mt-5 mb-5">
                    <div class="container-h">
                        <p class="fs-12 m-0 fw-500 pointer"><a href="" class="pnl-flex pnl-color">See Current Average PNL<mat-icon>refresh</mat-icon></a></p>
                        <p class="fs-12 m-0 fw-600 pointer pnl-color">{{20 | currency}}</p>
                    </div>
                </div>
                <div class="container-v p-5 mt-5 mb-5 br">
                    <div class="container-h">
                        <p class="fs-12 m-0 pointer">Interval: </p>
                        <p class="fs-12 m-0 fw-600 pointer">{{b.interval}}</p>           
                    </div>
                    <mat-divider class="m-1"></mat-divider>
                    <div class="container-h">
                        <p class="fs-12 m-0 pointer">Volume:</p>    
                        <p class="fs-12 m-0 fw-600 pointer">{{b.volume}} USD</p>                   
                    </div>
                    <mat-divider class="m-1"></mat-divider>
                    <div class="container-h">
                        <p class="fs-12 m-0 pointer">Leverage:</p>
                        <p class="fs-12 m-0 fw-600 pointer">x{{b.leverage}}</p>                        
                    </div>
                    <mat-divider class="m-1"></mat-divider>
                    <div class="container-h">
                        <p class="fs-12 m-0 pointer">Brick Size:</p>
                        <p class="fs-12 m-0 fw-600 pointer">{{b.brick_size}} USD</p>
                    </div>
                    <mat-divider class="m-1"></mat-divider>
                    <div class="container-h">
                        <p class="fs-12 m-0 pointer">Trailing Percentage</p>
                        <p class="fs-12 m-0 fw-600 pointer">{{b.trailing_ptc}}%</p>                        
                    </div>
                </div>
            </div>            
        </mat-expansion-panel>
    </mat-accordion>
</div>